/* Font CDN link */
@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40300%3B400%3B500%3B600%3B700%3B800%3B900&display=swap);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font-family: 'Poppins', sans-serif;
    --light-white:#f5f5fa;
    --gray:#5e6278;
    --gray-1:#e3e3e3;
}

body{
    font-family: var(--primary-font-family);
    font-size: 14px;
}

/* Main CSS */

.wrapper{
    padding: 0 0 100px;
    background-image: url('image.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100%;
}

.wrapper .logo img{
    max-width: 40%;
}

.wrapper input{
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--gray);
}

.wrapper input:focus{
    box-shadow: none;
}

.wrapper .submit_btn{
    padding: 10px 15px;
    font-weight: 500;
}

.wrapper .login_with:hover{
    background-color: var(--gray-1);
    border-color: var(--gray-1);
}

.wrapper .login_with img{
    max-width: 7%;
}
.img{
    background: url('image.jpg')no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
